In [1]:
# dependencies
import pandas as pd
import csv
import os

In [2]:
# read in CSV files
jan = os.path.join(os.getcwd(), "Resources", "JC-202001-citibike-tripdata.csv")
feb = os.path.join(os.getcwd(), "Resources", "JC-202002-citibike-tripdata.csv")
mar = os.path.join(os.getcwd(), "Resources", "JC-202003-citibike-tripdata.csv")
apr = os.path.join(os.getcwd(), "Resources", "JC-202004-citibike-tripdata.csv")
may = os.path.join(os.getcwd(), "Resources", "JC-202005-citibike-tripdata.csv")
jun = os.path.join(os.getcwd(), "Resources", "JC-202006-citibike-tripdata.csv")
jul = os.path.join(os.getcwd(), "Resources", "JC-202007-citibike-tripdata.csv")
aug = os.path.join(os.getcwd(), "Resources", "JC-202008-citibike-tripdata.csv")
sep = os.path.join(os.getcwd(), "Resources", "JC-202009-citibike-tripdata.csv")
oct = os.path.join(os.getcwd(), "Resources", "JC-202010-citibike-tripdata.csv")
nov = os.path.join(os.getcwd(), "Resources", "JC-202011-citibike-tripdata.csv")
dec = os.path.join(os.getcwd(), "Resources", "JC-202012-citibike-tripdata.csv")

In [3]:
# create dfs from csvs
jan_df = pd.read_csv(jan)
feb_df=pd.read_csv(feb)
mar_df=pd.read_csv(mar)
apr_df=pd.read_csv(apr)
may_df=pd.read_csv(may)
jun_df=pd.read_csv(jun)
jul_df=pd.read_csv(jul)
aug_df=pd.read_csv(aug)
sep_df=pd.read_csv(sep)
oct_df=pd.read_csv(oct)
nov_df=pd.read_csv(nov)
dec_df=pd.read_csv(dec)

In [5]:
# join dfs
citibike_2020_df = pd.concat([jan_df, feb_df, mar_df, apr_df, may_df, jun_df, jul_df, aug_df, sep_df, oct_df, nov_df, dec_df])
citibike_2020_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [7]:
# export new data to CSV
citibike_2020_df.to_csv("2020-citibike-data.csv")